<header>
  <div class="left-contents">
    <%= image_tag "shiori_white.png", class: "app-icon" %>
    <h1 class="app-title">shiori</h1>
  </div>

  <div class="center-contents">
    <div class="hello-user">
      <% if user_signed_in? %>  
        <p><%= "こんにちは #{current_user.nickname}さん" %></p> 
      <% end %>
    </div>  
    <div class="search-form">
      <input type="text" class="search-box" placeholder="検索する">
      <button type="submit" class="search-button">
        <%= image_tag "k0202_4.png", class: "search-icon" %>
      </button>
    </div>
  </div>

  <div class="right-contents">
    <!-- ユーザーがログインしているときに表示 -->
    <% if user_signed_in? %>
      <div class="sign-in-user">
        <a class="mypage" href="#">マイページ</a>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "sign-out" %>
      </div>
    <!-- ユーザーがログインしていないときに表示 -->
    <% else %>
      <div class="user-registration">
        <%= link_to '今すぐ始める', new_user_registration_path, class: "sign-up" %>
        <%= link_to 'ログインする', new_user_session_path, class: "sign-in" %>
      </div>
    <% end %>
    <div class="genre-selecrt">ジャンル</div>
  </div>
</header>