<header>
  <div class="left-contents">
    <%= image_tag "shiori_white.png", class: "app-icon" %>
    <a href="/"><h1 class="app-title">shiori</h1></a>
  </div>

  <div class="center-contents">

    <%# 検索フォーム %>
    <%= search_form_for @q, url: search_books_path do |f| %>
      <div class="search-form">
        <div class="serch-boxes">
          <%= f.search_field :text_or_quote_or_title_or_author_cont, class: "search-box", placeholder: "キーワード" %>
          <%= f.collection_select(:genre_id_eq, Genre.all, :id, :name, {}, {class: "genre-search-box"}) %>
        </div>
        <div class="serch-submit">
          <%= f.button type: "submit", class: "search-button" do %>
            <%= image_tag "k0202_4.png", class: "search-icon" %>
          <% end %>
        </div>
      </div>
    <% end %>  
  </div>

  <div class="right-contents">
    <!-- ユーザーがログインしているときに表示 -->
    <% if user_signed_in? %>
      <div class="sign-in-user">
        <%=link_to "マイページ", edit_user_path(current_user.id),class:"mypage" %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "sign-out" %>
      </div>
    <!-- ユーザーがログインしていないときに表示 -->
    <% else %>
      <div class="user-registration">
        <%= link_to '今すぐ始める', new_user_registration_path, class: "sign-up" %>
        <%= link_to 'ログインする', new_user_session_path, class: "sign-in" %>
      </div>
    <% end %>
    <div class="hello-user">
      <% if user_signed_in? %>  
        <p><%= "こんにちは #{current_user.nickname}さん" %></p>
      <% else %>
        <p><%= "こんにちは ゲストさん" %></p>
      <% end %>
    </div>
  </div>
</header>