<%= render "shares/header" %>

<%= render "shares/flash_message" %>

<div class="mypage-title">ここは、あなたのライブラリです</div>
  
<%= link_to "編集", edit_user_registration_path(current_user.id), class: "edit-btn"%>
<div class="delete-btn", id="delete-user">退会</div>


<%#--#--# モーダル表示 #--#--#%>
<div id="modal">
  <div id="modal-back-ground"></div>
  <div id="modal-contents"></div>

    <%= render partial: "shares/modal_delete", locals: {books: @books} %>

</div>
<%#--#--#ここまで #--#--#%>

<%= render "shares/user_page" %>


<h3 class="show-book" >-あなたの本棚-</h3>

<div class="main-contents">
  <div class="main-wrapper-user-edit">
    <% @books.each do |book| %>
      <div class="post-mypage">
        <div class="binding-shiori">
          <blockquote>
            <p><%= book.quote %></p>
          </blockquote>
          <div class="book-information">
            <div class="book title">『<%= book.title %>』</div>
            <% if book.title_option.present? %>
              <div class="book publish">~<%= book.title_option %>~</div>
            <% end %>  
            <div class="book author"><%= book.author %></div>
          </div>
          <% if book %>
          <div class="delete-btn delete-post", id="delete-post">削除</div>
            <%= link_to "削除する", book_path(book.id), method: :delete, class: "delete-post-none", id: "delete-post-none" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>