<%= render "shares/header" %>

<%= render "shares/flash_message" %>

<div class="mypage-title">ここは、あなたのライブラリです</div>
  
<%= link_to "編集", edit_user_registration_path(current_user.id), class: "edit-btn"%>
<%= link_to "退会", user_registration_path(current_user.id), method: :delete, data:{confirm: "本当によろしいですか？"}, class: "delete-btn"%>


<%= render "shares/user_page" %>


<h3 class="show-book" >-あなたの本棚-</h3>

<div class="main-contents">
  <div class="main-wrapper-user-edit">
    <% @books.each do |book| %>
      <div class="post-mypage">
        <div class="binding-shiori">
          <blockquote>
            <p><%= book.quote %></p>
          </blockquote>
          <div class="book-information">
            <div class="book title">『<%= book.title %>』</div>
            <% if book.title_option.present? %>
              <div class="book publish">~<%= book.title_option %>~</div>
            <% end %>  
            <div class="book author"><%= book.author %></div>
          </div>
          <% if book %>
              <%= link_to "削除する", book_path(book.id), method: :delete, class: "delete-post" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>