<%= render "shares/header" %>

<div class="catch">
  <div class="copy-box">
    <div class="catch-copy">
      <p><span>本</span>好きなあなたへ</p>
      <div class="catch-under">
        <p>Shioriはあなたの感動した気持ちを誰かと共有するサービスです</p>
        <p>映画を観たあとのように、音楽を聴いたあとのように...</p>
      </div>
    </div>
    <div class="catch-belt">
      Need any more books?
    </div>
  </div>
</div>

<div class="main-contents">
  <div class="main-wrapper">
    <% @books.each do |book| %>
      <div class="post">
        <div class="text-area">
          <div class="who-is-post">
            @<%= book.user.nickname %>
            <%= time_ago_in_words(book.created_at) %>前
          </div>
          <div class="shiori-box">
            <div class="shiori">
              <div class="text-for">
                <%= book.text %>
              </div>
            </div>
          </div>
          <div class="book-box">
            <div class="binding-shiori">
              <div class="quote">
                - <%= book.quote %> -
              </div>
              <div class="book-information">
                <div class="book title">引用元​『<%= book.title %>』</div>
                <div class="book publish">~<%= book.title_option %>~</div>
                <div class="book author"><%= book.author %> :著</div>
                <div class="book publish"><%= book.publish %></div>
                <div class="book year"><%= book.year %>年</div>
                <div class="book page"><%= book.page %>ページ参照</div>
              </div>
            </div>
          </div>
        </div>
        <div class="image-area">
          <%= image_tag book.image.variant(resize:'120 x 180'), class: "book-image" if book.image.attached? %>
        </div>   
      </div>
    <% end %>  
  </div>
  <div class="side-wrapper">
    <div class="top3">
      <h3>人気の投稿！</h3>
      <ul>
        <li>ほにゃらら</li>
          <p>誰それ</p>
        <li>ほにゃらら</li>
          <p>誰それ</p>
        <li>ほにゃらら</li>
          <p>誰それ</p>
      </ul>
    </div>
    <div class="news">
      <h3>お知らせ</h3>
      <ul>
        <li>shioriが完成しました
        <li>
        <li>
      <ul>
    </div>
  </div>
</div>

<%# 投稿フォーム遷移ボタン %>
<a href="books/new"><i class="fas fa-pen-nib">+</i></a>
<footer></footer>