<div class="form-wrapper">
  <div class="user-header">  
    <div class="welcome">
      <h2>ようこそ</h2>
      <h2>shioriへ</h2>
    </div>
    <div class="user-link-to">
      <%= link_to 'トップページ', root_path, class:"user-to-root"%>
      <%= link_to '新規登録する', new_user_registration_path, class:"user-to-sign-in"%>
    </div>
  </div>

  <%= form_for(@user, as: resource_name, url: user_session_path) do |f| %>
    <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg + "。。", :id => "flash_#{name}" if msg.is_a?(String) %>
    <%- end -%>

    <div class="user-wrapper">
      <div class="field log-in-field">
        <%= f.label :あなたのニックネームを教えて, class: "input-object" %>
        <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "input-box" %>
      </div>
      <div class="field log-in-field">
        <%= f.label :あなたのパスワードを教えて, class: "input-object" %>
        <%= f.password_field :password, autocomplete: "new-password", class: "input-box" %>
      </div>
      <div class="actions log-in-btn">
        <%= f.submit "ログイン", class: "log-in-box" %>
      </div>
    </div>
  <% end %>
</div>
